.container .customers{
    margin-top: 10px;
}

.container .customers .cadastrar{
    margin-top: 30px;
    width: 200px;
    background-color: mediumseagreen;
    transition: all 0.5s;
}
.container .customers .cadastrar:hover{
    background-color: green;
}    