
.sidebar{
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #181C2e;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar div{
  background: url('../../assets/cover.png');
  background-color: #181C2e;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
}

.sidebar div{
  padding-top: 30px;
}

.sidebar div img {
  border-radius: 50%;
  display: block;
  margin:auto;
  width: 90px;
  height: 90px;
  -webkit-filter: drop-shadow(2px 3px 6px #121212);
  filter: drop-shadow(2px 3px 6px #121212);
  object-fit: cover;
}

.sidebar a{
  display: block;
  color: rgba(255,255,255, 0.7);
  padding: 16px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: ease-in-out .4s;
}

.sidebar a svg{
  margin-right: .5em;
}

.sidebar a:hover{
  background-color: slateblue;
  color: #FFF;
}

.content{
  margin-left: 200px;
  padding: 1px 16px;
}

.logout-btn-header{
  padding: 5px 10px;
  background-color: transparent;
  border:1px solid red;
  border-radius: 5px;
  font-size: 1.0em;
  color: red;
  margin-left: 70px;
  margin-top: 20px
}

@media screen and (max-width: 700px){
  .sidebar{
    width: 100%;
    height: auto;
    position: relative;
  }

  div.content{
    margin-left: 0;
  }

  .sidebar a{
    float: left;
  }
  .sidebar div{
    display: none;
  }

  .sidebar a svg{
    display: none;
  }
  .logout-btn-header{
    padding: 5px 10px;
    background-color: transparent;
    border:1px solid red;
    border-radius: 5px;
    font-size: 1.0em;
    color: red;
    margin-top: 10px;
    margin-left: 30px;
  }
}


@media screen and (max-width: 400px){
  .sidebar{
    width: 100%;
    height: 200px;
    position: relative;
  }

  .sidebar a {
    text-align: center;
    float: none;
  }

  .sidebar a svg{
    display: none;
  }
  .logout-btn-header{
    padding: 5px 10px;
    background-color: transparent;
    border:1px solid red;
    border-radius: 5px;
    font-size: 1.0em;
    color: red;
    margin-top: 10px;
    margin-left: 15px;
  }
  
}